body {
  min-height: 500px;
  padding: 50px;
}
.btn_group button {
  display: inline-block;
  box-sizing: border-box;
  height: 28px;
  margin: 0;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  vertical-align: top;
  text-align: center;
  user-select: none;
  cursor: pointer;
  font: normal 13px/18px 'Microsoft Yahei';
  box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, .15) inset;
  background: #3498db;
  color: #fff;
}
