<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>radio-checkbox</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="radio.css">
  <link rel="stylesheet" href="checkbox.css">
  <style>
    .form_group { margin-bottom: 20px; }
    .m-form-radio { margin-right: 10px; }
    .m-form-checkbox { margin-right: 10px; }
  </style>
</head>
<body>
  <!-- 注意：需指定input的id和label的for,或者得需要通过js绑定事件来使之可选择 -->
  <form>
    <!-- radio -->
    <div class="form_group">
      <div class="m-form-radio">
        <input id="radio1" type="radio" name="test" value="1" checked>
        <label for="radio1">第 1 个 radio</label>
      </div>
      <div class="m-form-radio">
        <input id="radio2" type="radio" name="test" value="2">
        <label for="radio2">第 2 个 radio</label>
      </div>
    </div>
    <!-- checkbox -->
    <div>
      <div class="m-form-checkbox">
        <input id="checkbox1" type="checkbox" name="test" value="1" checked>
        <label for="checkbox1">第 1 个 checkbox</label>
      </div>
      <div class="m-form-checkbox">
        <input id="checkbox2" type="checkbox" name="test" value="2">
        <label for="checkbox2">第 2 个 checkbox</label>
      </div>
      <div class="m-form-checkbox">
        <input id="checkbox3" type="checkbox" name="test" value="3">
        <label for="checkbox3">第 3 个 checkbox</label>
      </div>
    </div>
  </form>
</body>
</html>
